.collapse {
   margin-bottom: 50px;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   cursor: pointer;
   border-radius: 10px;
   background-color: #ff6060;
}

.header h2 {
   font-size: 1.2em;
   font-weight: normal;
   color: white;
   margin-left: 20px;
}

.header img {
   margin-right: 20px;
}

.content {
   padding: 10px;
   border-top: none;
   border-radius: 0 0 5px 5px;
   background-color: #f6f6f6;
}

@media only screen and (max-width: 600px) {
   .collapse {
      margin-bottom: 30px;
   }

   .header h2 {
      font-size: 1em;
   }
}




@media only screen and (max-width: 600px) {
   .collapseContainer {
      padding: 0px;
      margin-top: 30px;
   }
}