footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: black;
   color: white;
   justify-content: space-between;
   align-items: center;
   padding-top: 25px;
   height: 100px;
 }
 
footer img {
   width: 100px;
 }
 
footer p {
   display: flex;

   color: white;
 }
  
  