
  .header {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
 }
 
 .logo {
    height: 50px;
 }
 
 .nav {
    display: flex;
    gap: 50px;
    list-style-type: none;
 }
 
 @media only screen and (max-width: 600px) {
    .logo {
       height: 40px;
    }
 
    .nav {
       gap: 20px;
       padding-inline-start: 30px;
    }
 }
 