nav {
    display: flex;
    justify-content: space-between;
     margin-right: 50px;
     
  }
 
  nav ul {
     display: flex;
     flex-wrap: wrap;
     margin-right: 40px;
     list-style-type: none;
    
  }
 
  nav ul li {
     margin-right: 40px;
  }
 
  
  
  
  @media only screen and (max-width: 600px) {
    nav{
       margin: auto 5px; 
       flex: 1;
       
       
    }
     nav ul{
       flex-direction:row ;
       text-align: right;
       
         
     }
 
     nav ul li{
       margin-right: 0px;
       margin-left: 10px;
       
 
       
       
     }
 
    
 
   
 
    
  
 }